.App {
  text-align: center;
}

.App-header {
  background-color: black;
  min-height: 172px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.search-container{
  border-radius: 4px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}

.search-field {
  line-height: 24px;
  border: none;
  font-size: 15.51px;
  font-weight: 400;
  letter-spacing: 0.5px;
  margin-left: 12px;
  width: 600px;
  color: grey;
}

input:focus {
  outline: none;
}

.btn {
  width: fit-content;
  height: 100%;
  min-width: 54px;
  min-height: 54px;
  background-color: #fff;
  border: none;
  margin-right: 12px;
  padding: 15px;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.list-item {
  border-radius: 4px;
  margin-bottom: 8px;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  cursor: pointer;
  list-style-type: none;
  width: 500px;
  padding: 0px 10px 0px 10px;
}

.list-item:hover {
  background-color: #f8f8fe;
  box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%), 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
}

.list-name {
  margin-bottom: 8px;
  font-size: 19.22px;
  line-height: 27px;
  font-weight: 600;
  letter-spacing: 0.25px;
  color: rgba(0, 0, 0, 0.87);
  margin: 16px 0px 16px 0px;
  padding-top: 16px;
}

.list-summary {
  font-size: 13.57px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0.25px;
  color: rgba(0, 0, 0, 0.87);
  margin: 16px 0px 16px 0px;
}

a:link {
  text-decoration: none;
}

.page-number {
  border-radius: 50%;
  margin: 10px;
  width: 40px;
  height: 40px;
  border: none;
}

.page-number:hover {
  background-color: rgba(84, 88, 242, 0.04)
}

.page-number:focus {
  background-color: #5458F2;
  color: white;
}

.details-container {
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  padding-bottom: 16px;
  color: rgba(0, 0, 0, 0.6);
  opacity: 0.8;
  font-size: 12px;
}

.url-email-container {
  display: flex;
}

.url-email {
  margin-right: 30px;
  font-weight: bold;
  color: #5458F2;
}







